<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp.rbzeta.branchperformancereport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".aplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activity.MainScreenActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".activity.DataEmployeeActivity"
            android:parentActivityName=".activity.MainScreenActivity" />
        <activity
            android:name=".activity.DataQuestionaireActivity"
            android:label="@string/title_activity_data_questionaire"
            android:parentActivityName=".activity.DataEmployeeActivity" />
        <activity
            android:name=".activity.DetailAnswerActivity"
            android:parentActivityName=".activity.QuestionerActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:parentActivityName=".activity.MainScreenActivity" />
        <activity
            android:name=".activity.QuestionerActivity"
            android:parentActivityName=".activity.MainActivity" />

        <receiver
            android:name=".receiver.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.DataNetworkActivity"
            android:parentActivityName=".activity.DataQuestionaireActivity" />
        <activity
            android:name=".activity.DetailQuestionaireActivity"
            android:parentActivityName=".activity.MainScreenActivity" />
        <activity
            android:name=".activity.HideShowAppBarLayout"
            android:parentActivityName=".activity.MainScreenActivity" />
        <activity android:name=".activity.ViewEmployeeData" />
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>